asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
cloudinary==1.44.0
Django==3.2.25
django-cloudinary-storage==0.3.0
djangorestframework==3.12.4
idna==3.10
pillow==11.2.1
pytz==2025.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
urllib3==2.4.0
